<div class="d-flex justify-content-center my-4">
  <div id="carouselExampleInterval" class="carousel slide w-100 w-md-75 w-lg-75" data-bs-ride="carousel" style="max-width: 80%;">
    <div class="carousel-inner rounded-4 shadow-lg">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dzp0yscrc/image/upload/v1743678654/slide_s6sqa1.png" class="d-block w-100 slide2" alt="Slide 1">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dzp0yscrc/image/upload/v1743678655/slide2_t9kltm.png" class="d-block w-100 slide2" alt="Slide 2">
      </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
