<%- layout('/layouts/boilerplate.ejs') %>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="text-center mb-4">Login on Khaas Mayar</h2>
        <div class="card shadow-lg p-4 rounded">
            <form action="/login" method="post" class="needs-validation" novalidate>
                
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" id="username" placeholder="Enter username" type="text" class="form-control" required />
                    <div class="valid-feedback">Username is good</div>
                </div>

                

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" placeholder="Enter password" type="password" class="form-control" required />
                    <div class="invalid-feedback">Password is required.</div>
                </div>

                <button class="btn btn-success w-100 mt-3">login</button>
            </form>
        </div>
    </div>
</div>
